//Base is the default
@import "./variables";

html,
body,
form {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  color: white;
  @media screen and (max-width: 720px) {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}
