//Base is the default
@import './variables';

html, body, form {
  margin: 0;
  padding: 0
}

h1{
  font-size: 2rem;
  color: white;
  @media screen and (max-width:720px) {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

button {
  background-color: $tertiary;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.2rem;
  margin-top: 2rem;
  @media screen and (max-width:720px) {
    margin-top: 0.5rem;
  }
}

input{
  margin-right: 0.5rem;
  padding: 0.2rem;
  font-weight: bold;
}