//Base is the default
@import './variables';

html, body, form {
  margin: 0;
  padding: 0
}

h1{
  font-size: 1.5rem;
  color: white;
  margin-bottom: 2rem;
  @media screen and (min-width:720px) {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

button {
  background-color: $tertiary;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.2rem;
  margin-top: 0.5rem;
  @media screen and (min-width:720px) {
    margin-top: 2rem;
  }
}

input{
  display: block;
  margin: 0 auto;
  height: 1rem;
  font-weight: lighter;
  @media screen and (min-width:720px) {
    display: inline;
    padding: 0.2rem;
    margin-right: 0.5rem;
    font-weight: bold;
  }
}
