//Modules for reusable components
@import './variables';
.box{
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 2rem;
}

.background{
  background-color: $primary;
}

.container{
  background-color: $secondary;
  color: white;
  &__content{
    display: flex;
    justify-content: space-around;
    img{
      max-height: 10rem;
      margin-right: 2rem;
    }
  }
}