//Modules for reusable components
@import './variables';
.box{
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 2rem;
}

.background{
  background-color: $primary;
}

.container{
  background-color: $secondary;
}