//Modules for reusable components
@import "./variables";
.box {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 2rem 1rem;
}

.background {
  background-color: $primary;
}

.container {
  background-color: $secondary;
  color: white;
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      max-height: 10rem;
      margin-right: 2rem;
    }
    @media screen and (max-width: 720px) {
      flex-wrap: wrap;
      justify-content: center;
      img {
        margin: 0 auto;
      }
    }
  }
  &__text {
    text-align: left;
    max-width: 60%;
  }
}
